* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

footer {
display: flex;
justify-content: flex-end;

}

footer h5 {
    display: inline;
}


