@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vinag0');
  src:  url('fonts/icomoon.eot?vinag0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vinag0') format('truetype'),
    url('fonts/icomoon.woff?vinag0') format('woff'),
    url('fonts/icomoon.svg?vinag0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e958";
}
.icon-cog:before {
  content: "\e994";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
